.userd-main {
  margin-top: 100px;
  padding-bottom: 30px;
}

.userd-greet {
  padding: 2em;
}

.userd-head {
  font-size: 3.2rem;
  font-weight: 500;
}

.userd-shead {
  color: #a5a5a5;
  font-size: 2.2rem;
  margin-bottom: 1em;
}

.userd-ablog {
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(102, 77, 253, 0.15);
  border-radius: 8px;
  font-size: 2.2rem;
  font-weight: 500;
  padding: 2em;
}

.userd-abhead {
  padding-bottom: 1em;
}

.userd-blog {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px;
  height: 100%;
}
#item-0 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 2;
  width: 210px;
  height: 170px;
}
#item-1 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  margin-left: 15px;
}
#item-2 {
  margin-top: -30px;
  grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 4;
  margin-left: 15px;
  grid-column-end: 5;
}
#item-3 {
  grid-row-start: 4;
  grid-column-start: 2;
  color: #4468e2;
  grid-row-end: 5;
  grid-column-end: 5;
  margin-left: 15px;
  font-size: 23px;
  margin-top: -40px;
}
.more-text {
  color: #4468e2;
}

.item-share {
  margin-left: 33px;
}
.item-comments {
  float: right;
  margin-top: 5px;
}
.item-comments-span {
  float: right;
  margin-right: 135px;
}




.userd-blogi {
  font-size: 1.8rem;
  font-weight: 500;
  color: #4468e2;
  display: flex;
  justify-content: space-between;
}



.userd-show {
  color: #cbcbcb;
  text-align: center;
}

.userd-comments {
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(102, 77, 253, 0.15);
  border-radius: 8px;
  font-size: 2.2rem;
  font-weight: 500;
  padding: 2em;
}

.userd-comment {
  padding-bottom: 1em;
}

.userd-chead {
  padding-bottom: 1em;
}

.userd-user {
  width: 40px;
  height: 40px;
}

.userd-name {
  padding-left: 1em;
  font-size: 1.8rem;
}

.userd-cb {
  font-size: 1.4rem;
  font-weight: 400;
  color: #5b5b5b;
  padding: 1em 0em 1em 4em;
}

.userd-approve {
  padding-left: 3em;
  color: #34a853;
  font-size: 1.8rem;
}

@media (max-width: 1400px) {
  .item-comments-span {
    margin-right: 40px;
  }
}
@media (max-width: 1200px) {
  .item-comments-span {
    margin-right: 20px;
  }
  #item-3 {
    grid-column-end: 6 !important;
  
}}

@media (max-width: 990px) {
  .item-comments-span {
    margin-right: 20px;
  }
  #item-3 {
    grid-column-end: 5 !important;
  
}
}
@media (max-width: 769.9px) {
  .item-comments-span {
    margin-right: 80px;
  }
  #item-3 {
    grid-row-start: 5 !important;
    grid-column-start: 1 !important;
    margin-left: 50px;
  
}

}
@media (max-width: 992px) {
  .userd-comments {
    margin-top: 2em;
  }
}

@media (max-width: 500.9px) {
  .userd-blog {
    display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0px;
  gap: 0px;
  height: 100%;
  }
}

