.list-heading {
    font-size: 2.2rem;
    font-weight: 600;
  }
  
  .list-subheading {
    font-size: 1.6rem;
    font-weight: 500;
    color: #8c8c8c;
  }
  
  .list-row {
    margin-bottom: 2em;
  }
  
  .list-explore {
    font-size: 3.2rem;
    font-weight: 600;
    padding-bottom: 1em;
  }
  
  .list-explore > span {
    color: #4468e2;
  }
  
  .list-img {
    width: min(160px, 100%);
  }
  .navlink-css{
  text-decoration: none;
  color: #000;
  }
  .navlink-css:hover{
    text-decoration: none;
    color: #4468e2;
    }
    