.list-heading {
    font-size: 2.2rem;
    font-weight: 600;
    cursor: default;
  }
  
  .list-subheading {
    font-size: 1.6rem;
    font-weight: 500;
    color: #8c8c8c;
  }
  
  .list-rows {
    margin-bottom: 1em;
  }
  
  .list-explore {
    font-size: 3.2rem;
    font-weight: 600;
    padding-bottom: 1em;
    cursor: default;
  }
  
  .list-explore > span {
    color: #4468e2;
  }
  
  .list-main-img{
    height: 100%;
    width: 100%;

  }
  .list-img-landing {
    width: 120px;
    height: 90px;
    border-radius: 8px;
    object-fit: cover;
  }
  .navlink-css{
  text-decoration: none;
  color: #000;
  }
  .navlink-css:hover{
    text-decoration: none;
    color: #4468e2;
    }
    @media (max-width: 1400px){
      .list-img-landing {
        width: 110px;
     }
    }
    @media (max-width: 1200px){
      .list-img-landing {
        width: 95px;
     }
    }
    @media (max-width: 991.9px){
      .list-img-landing {
        width: 160px;
        height: 120px;
     }
    }
    @media (max-width: 767.9px){
      .list-img-landing {
        width: 120px;
        height: 90px;
    
     }
    }
    @media (max-width: 525.9px){
      .list-img-landing {
        width: 90px;
        height: 80px;
    
     }
    }
    @media (max-width: 395.9px){
      .list-img-landing {
        width: 70px;
        height: 60px;
    
     }
    }
    .read-more-text{
      color: rgba(102, 77, 253, 0.8);
    }
    .read-more-text:hover{
      color: rgba(102, 77, 253, 0.8);
    }